<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="col-sm-3 sidenav">
        <div class="sidelogo">
                <img src="./../../../assets/images/logo.png" height="100px" width="180px">
            </div>
    <p>Maintanence Management</p>
    <hr>
    <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="/insert">Insert DailyShift</a></li>
        <li><a routerLink="/updatedailyshift">Update DailyShift</a></li>
        <li><a routerLink="/deletedailyshift">Delete DailyShift</a></li>
        <li><a routerLink="/inserteqpment">Insert Equipment</a></li>
        <li><a routerLink="/updateeqpment">Update Equipment</a></li>
        <li><a routerLink="/deleteeqpment">Delete Equipment</a></li>
    </ul><br>
</div>

