<app-res-side-bar></app-res-side-bar>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="container">
                <h1>Checking Availability</h1>
                <br><br>



                <div class="container">
                    <table class="table table-trapped">
                      <thead>
                        <tr>
                          <th>Product Id</th>
                          <th>Product Name</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Available/Not Available</th>
                           <th></th>
                        </tr>
                      </thead>

                      <tbody>

                      </tbody>
                    </table>
                  </div>


            </div>
        </div>
    </div>
</div>



