/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
.container{
width: 100%;
height: max-content;    
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 550px;}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
.col-sm-9{
  background-color: #9575cd;
  height: 100%;  
}
h1{
  font-family: fantasy;
}
label{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
form{
  width: 80%;
  margin-left: 100px;
}
