
        <div class="col-sm-3 sidenav">

                <br>
                <ul class="nav nav-pills nav-stacked">
                    <br>
                    <h5>Stocks</h5>
                    <li><a routerLink="/stockdetails">Stock Details</a></li>
                    <li><a routerLink="/adddetails">Add New Stock</a></li>
                    <li><a routerLink= "/deletedetails">Delete Details</a></li>
                    <li><a routerLink= "/updatedetails">Update Details</a></li>
                    <br>
                    <h5>Bookings</h5>
                    <li><a routerLink= "/tablebooking">Table Booking</a></li>
                    <li><a routerLink= "/tablebookingdelete">Table Booking Delete</a></li>



                </ul><br>

        </div>
