
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div>
    <app-header></app-header>
</div>
<div class="side">
    <app-sidebar></app-sidebar>
    
</div>

<div class="page" >
        <!--app-home></app-home-->
        <router-outlet></router-outlet>
    </div>
    
 <div>
    <app-footer></app-footer>
</div> 

<!--The content below is only a placeholder and can be replaced.-->
<!--app-manage-emp-details></app-manage-emp-details-->
<!--app-update-emp-details></app-update-emp-details-->
<!--app-booking></app-booking-->



