
<app-res-side-bar></app-res-side-bar>
<app-header></app-header>


<div class="container-fluid">
    <div class="row content " >
        <div class="col-sm-9">
            <div class="container">
                <h1>Delete Details</h1>
                <br><br>


                <form #deletedetails=ngForm>
                    <label for='name'>Product Id</label>
                    <input type="text" class="form-control" id="pid" required [(ngModel)]="model.pid" name="pid">



                    <br>
                    <button type="submit" class="btn btn-success" (click)="method1()">Delete</button>

                </form>
            </div>
        </div>
    </div>
</div>

