<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<div class="container-fluid">
    <div class="row content">
                <div class="col-sm-9">
                <div class="container">
                        <h1>Add vehicle</h1>

                        <div id="error"></div>
                        <form #newCustomer=ngForm action="/" method="GET">

                            <div class="form-group" [class.has-error]="id.invalid && id.touched">
                                <label for='name'>Vehicle Id</label>
                                <input type="text" placeholder="Ex: V001" maxlength= "4" class="form-control" id="id" ng-model="myInput" 
                                required #id="ngModel" 
                                [(ngModel)]="model.id" name="id">
                                <span class="help-block"
                                *ngIf="id.invalid && id.touched">Vehicle ID is required</span>
                            </div>
                        
                            <div class="form-group" [class.has-error]="vehicle.invalid && vehicle.touched">
                                <div class="select-field valid">
                                <label for='name'>Make</label>
                                <select id = "vehicle"  name="vehicle" ng-model="myInput" required #vehicle="ngModel"  [(ngModel)]="model.vehicle" (change)="populateSelect($event.target.value)" class="form-control">
                                  <option value="" disabled="" selected="">Choose</option>
                                  <option *ngFor="let make of makes" value={{make.value}}>{{make.text}}</option>
                                </select>
                                </div>
                                <span class="help-block"
                                *ngIf="vehicle.invalid && vehicle.touched">Vehicle is required</span>
                            </div>
                                
                                <div class="form-group" [class.has-error]="model.invalid && model.touched">
                                <div class="select-field invalid">
                                <label for='name'>Vehicle Model</label>
                                <select id = "model" name="model" ng-model="myInput" required #model="ngModel" [(ngModel)]="model.model" class="form-control">
                                        <option value="" disabled="" selected="">Choose</option>
                                        <option *ngFor="let vehicle of vehicles" value={{vehicle.value}}>{{vehicle.text}}</option>
                                </select>
                                </div>
                                <span class="help-block"
                                *ngIf="model.invalid && model.touched">Vehicle model is required</span>
                                </div>

                                <div class="form-group" [class.has-error]="license.invalid && license.touched">
                                <label for='name'>License Plate</label>
                                <input type="text" placeholder="Vehicle license plate no" class="form-control" id="license"
                                required ng-model="myInput" required #license="ngModel"
                                [(ngModel)]="model.license" name="license">
                                <span class="help-block"
                                *ngIf="license.invalid && license.touched">License no is required</span>
                                </div>

                                <div class="form-group" [class.has-error]="passengers.invalid && passengers.touched">
                                <label for='name'>Max passengers</label>
                                <input type="number" placeholder="Enter only numbers" class="form-control" id="passengers"
                                required ng-model="myInput" required #passengers="ngModel"
                                [(ngModel)]="model.passengers" name="passengers">
                                <span class="help-block"
                                *ngIf="passengers.invalid && passengers.touched">Max passengers is required</span>
                                </div>
                    
                                ​
                                <div class="form-group" [class.has-error]="year.invalid && year.touched">
                                <label for='name'>Manufacture Year</label>
                                <input type="date" class="form-control" id="year"
                                required ng-model="myInput" required #year="ngModel"
                                [(ngModel)]="model.year" name="year">
                                <span class="help-block"
                                *ngIf="year.invalid && year.touched">Manufacture year is required</span>
                                </div>
                               

                                <div class="form-group" [class.has-error]="colour.invalid && colour.touched">
                                <label for='name'>Vehicle Colour</label>
                                <input type="text" placeholder="Enter vehicle colour" class="form-control" id="colour"
                                required ng-model="myInput" required #colour="ngModel"
                                [(ngModel)]="model.colour" name="colour">
                                <span class="help-block"
                                *ngIf="colour.invalid && colour.touched">Vehicle colour is required</span>
                                </div>        

                                <br>
                            <button (click)="method1()" (click)="onclick()" type="submit" class="btn btn-success" disabled="disabled">Add</button>
                    
                        </form>
                    </div>
        </div>
    </div>
</div>
