<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <div class="col-sm-3 sidenav">
                <h3>Customer Management</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a routerLink="/home">New Customer</a></li>
                    <li><a routerLink="/booking">Add Booking</a></li>
                    <li><a routerLink= "/customerupdate">Update Customer</a></li>
                    <li><a routerLink= "/customerdelete">Delete Customer</a></li>
                    <li><a routerLink= "/bookingupddate">Update Booking</a></li>
                    <li><a routerLink= "/bookingdelete">Delete Booking</a></li>
                </ul><br>
        </div>
