<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="row content">
                <div class="col-sm-9">
                <div class="container">
                        <h1>Available</h1>
                        <br>
                        <br>
                        <h2>Select Available Vehicles</h2>
                        <form action="/action_page.php">
                            <input type="checkbox" name="vehicle1" value="Bike"> V001<br>
                            <input type="checkbox" name="vehicle2" value="Car"> V002<br>
                            <input type="checkbox" name="vehicle3" value="Boat" checked> V003<br><br>
                            <input type="submit" value="Submit">
                          </form>

                          <h2>Select Available Drivers</h2>
                        <form action="/action_page.php">
                            <input type="checkbox" name="vehicle1" value="Bike"> D001<br>
                            <input type="checkbox" name="vehicle2" value="Car"> D002<br>
                            <input type="checkbox" name="vehicle3" value="Boat" checked> D003<br><br>
                            <input type="submit" value="Submit">
                          </form>

                    </div>
        </div>
    </div>
</div>


  


    

