<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<app-transport-sidebar></app-transport-sidebar>
<app-header></app-header>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container-fluid">
    <div class="row content">
                <div class="col-sm-9">
                <div class="container">
                        <h1>Available</h1>
                        <h2>Select Available Vehicles</h2>
                        <form action="/action_page.php">
                            <input type="checkbox" name="vehicle1" value="Bike"> V001<br>
                            <input type="checkbox" name="vehicle2" value="Car"> V002<br>
                            <input type="checkbox" name="vehicle3" value="Boat" checked> V003<br><br>
                            <input type="submit" value="Submit" class="btn btn-success">
                          </form>

                          <h2>Select Available Drivers</h2>
                        <form action="/action_page.php">
                            <input type="checkbox" name="vehicle1" value="Bike"> D001<br>
                            <input type="checkbox" name="vehicle2" value="Car"> D002<br>
                            <input type="checkbox" name="vehicle3" value="Boat" checked> D003<br><br>
                            <input type="submit" value="Submit" class="btn btn-success">
                          </form>

                          <br>
                          <table class="w3-table-all">
                            <thead>
                              <tr class="w3-red">
                                <th>Available vehicles</th>
                                <th>Available drivers</th>
                              </tr>
                            </thead>
                            <tr>
                              <td>V001</td>
                              <td>D001</td>
                            </tr>
                            <tr>
                              <td>V003</td>
                            </tr>
                          </table>

                    </div>
        </div>
    </div>
</div>


  


    
