<!--p>manage-emp-details works!</-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="container">
                <h1 >New Employee</h1>
                <form #newCustomer=ngForm style="width: 800px ">
                    <label for='name'>Employee ID</label>
                    <input type="text" class="form-control" id="empId" required [(ngModel)]="model.id" name="id">

                    <label for='name'>Employee Name</label>
                    <input type="text" class="form-control" id="empName" required [(ngModel)]="model.name" name="name">

                    <label for='name'>NIC or Passport</label>
                    <input type="text" class="form-control" id="nic" required [(ngModel)]="model.NIC" name="nic">

                    <label for='name'>Age</label>
                    <input type="text" class="form-control" id="empAge" required [(ngModel)]="model.age" name="age">

                    <label for='name'>Birth Date</label>
                    <input type="date" class="form-control" id="empBirth" required [(ngModel)]="model.Bdate" name="Bdate">

                    <label for='name'>Mobile</label>
                    <input type="text" class="form-control" id="empMob" required [(ngModel)]="model.mobile" name="mobile">

                    <label for='name'>Joined Date</label>
                    <input type="date" class="form-control" id="empJd" required [(ngModel)]="model.Jdate" name="Jdate">

                    <label for='name'>Position</label>
                    <input type="text" class="form-control" id="empPos" required [(ngModel)]="model.Position" name="Position">

                    <label for='name'>Password</label>
                    <input type="text" class="form-control" id="empPass" required [(ngModel)]="model.Password" name="Password">
                    
                    <label for='name'>Gender</label>
                    <p>
                        <input class="w3-radio" type="radio" required [(ngModel)]="model.gender" name="gender" id="genderM" value="male" >
                        <label>Male</label></p>
                        <p>
                        <input class="w3-radio" type="radio" required [(ngModel)]="model.gender" name="gender" id="genderF" value="female">
                        <label>Female</label></p>
                        <p>
                    
                    <label for='name'>Married Status</label>
                    <p>
                        <input class="w3-radio" type="radio" required [(ngModel)]="model.marry" name="marry" id="marry" value="marry" >
                        <label>Married</label></p>
                        <p>
                        <input class="w3-radio" type="radio" required [(ngModel)]="model.marry" name="marry" id="Unmarry" value="Unmarry">
                        <label>Unmarried</label></p>
                        <p>        
                    <br>
                    <button (click)="onClick()" type="submit" class="btn btn-success">Add</button>

                </form>
            </div>
        </div>
    </div>
</div>
